<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-app-store-version" version="1.0.0">

    <name>CheckAppStoreVersion</name>
    <description>Cordova App Store Version fetch for Android and iOS</description>
    <license>Apache 2.0</license>
    <keywords>cordova,update,app,auto,updater</keywords>

    <js-module src="www/CheckAppStoreVersion.js" name="CheckAppStoreVersion">
        <clobbers target="CheckAppStoreVersion" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CheckAppStoreVersion">
                <param name="android-package" value="com.ugotit.app.CheckAppStoreVersion"/>
                <param name="onload" value="true" />  <!-- Must Have -->
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <source-file src="src/android/CheckAppStoreVersion.java" target-dir="src/com/ugotit/app"/>

        <framework src="com.android.support:support-v4:24.1.1+" />
        <framework src="app_update.gradle" custom="true" type="gradleReference" />
    </platform>
    <platform name="ios">
       <config-file target="config.xml" parent="/*">
         <feature name="CheckAppStoreVersion">
           <param name="ios-package" value="CheckAppStoreVersion"/>
         </feature>
       </config-file>
       <header-file src="src/ios/CheckAppStoreVersion.h" />
       <source-file src="src/ios/CheckAppStoreVersion.m" />
   </platform>

</plugin>
